.gallery{
    max-width: 700px;
    height: fit-content;
    padding: 5px;  
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow: scroll;
    overflow-y: hidden;
    background-color: #fafafa;
}


.card{
    min-width: 130px;
    height: 100px;
    border: solid 1px white;
    background-color: white;
    
    cursor: pointer;
}

.card.seleccionado {
    border: solid 3px #dcdcdc;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;    
}

